h1 {
    /*background-color: lightblue;*/
}
.container {
    display: flex;
    align-items: start;
}
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}
.main-item {
    /*background-color: rebeccapurple;*/
    display: flex;
    /*align-items: center;*/
    flex: auto;
    text-align: center;
    justify-content: space-around;
    flex-grow: 8;
    max-height: 300px;
    transition: max-height 2s ease-in-out;
}
.main-item * {
    padding: 0.3rem;
}
.main-item img {
    max-height: 10em;
    align-self: center;
}
.main-item div {
    overflow: hidden;
}
.main-readmore-background {
    position: absolute;
    background: linear-gradient(white 50%, lightslategrey);
    opacity: 0.8;
    margin-top: 290px;
    margin-left: 7%;
    width: 55%;
}
.main-readmore-background:hover {
    background: lightslategrey;
    cursor: pointer;
}
.side-bar {
    margin: 0 12px;
    flex: auto;
    flex-grow: 4;
    max-height: 300px;
}
.side-bar p {
    text-align: center;
}
.side-bar ul li {
    list-style: none;
    display: flex;
    padding: 2px;
}
.side-bar ul li img {
    max-height: 4em;
    max-width: 4em;
}
.side-bar ul li div {
    margin-left: 3px;
}
.clickable{
    cursor: pointer;
}
